@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.CompanyName</title>
</head>
<body>
    <div>
        <h1>@ViewBag.CompanyName</h1>
        <h2>Founded: @ViewBag.StartYear</h2>

        <h5>Description</h5>
        <div>@Html.Raw(ViewBag.Description)</div>

        @if (ViewBag.Projects.Length > 0)
        {
        <h5>Projects:</h5>
        <div>
            <ul>
                @foreach (var project in ViewBag.Projects)
                {
                    <li>@project</li>
                }
            </ul>
        </div>
        }
    </div>
</body>
</html>
