@model AotWebsite.Models.Project

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/html5up-future-imperfect/index.cshtml";
    //Layout = "~/Views/Shared/_Layout2.cshtml";

    ViewBag.Title = Model.DisplayText;

}

<!DOCTYPE html>


<h1>@Model.ProjectTitle</h1>
<h2>Released: @Model.YearReleased</h2>

<h5>Description</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Developers.Length > 0)
{

<h5>Developers:</h5>
<div>
    <ul>
        @foreach (var developer in Model.Developers)
        {
            <li>@developer.Role: @developer.Name</li>
        }
    </ul>
</div>
}

